

 <!---------**************-----------about section start -------***********------------------------>

 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <div  style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px;">
 <h1 id="about"  >about</h1>
</div>
 <br/>
 <section class="about">
  
     <div style="border-right: 2px solid rgba(51, 51, 51, 0.76); direction: rtl; padding-right: 100px;">
         <h1>skills</h1>
         <ul >
             <li > <h4 >Responsive Design</h4></li>
             <li><h4>Visual Design</h4></li>
             <li><h4>Drawing</h4></li>
            
             <% skills.forEach(element => { %>
                <li><h4> <%= element.sname %>  </h4></li>
             <% }) %>

         </ul>
     </div>

     <div id="exp" style="padding-left: 100px;">
         <h1>Eperience</h1>
         <ul>
             <li>
                <h4>UiUx Designer | Freelancer  - 2022</h4> 
             </li>
             <li>
                 <h4>Technical sapurt and ux Designer | YemenResearch  22019 - 2021</h4>
             </li>
             <li>
                <h4>Graphic Designer | Spcilict for solar systems  - 2017-2018</h4> 
             </li>

             <% exp.forEach(element => { %>
                <li>
                    <h4> <%= element.name %>  | <%= element.com %>   - <%= element.date %> </h4> 
                 </li>
             <% }) %>

         </ul>

     </div>
 </section>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
<!------------------------------------------about end ------------------------------------------->


