
    <!---------**************-----------footer section start -------***********------------------------>

    <footer style="margin: 20px; display: flex; justify-content: center;">
        <h4 style="color: #fff;"> made with 💙 by Ali Alroainy All right resaved  2022</h4>
           </footer>
       <!------------------------------------------footer end ------------------------------------------->
       
       <script src="script.js"></script>
       </body>
       </html>