
<!---------**************-----------home section start -------***********------------------------>
<section class="home">
        
    <div class="me" >

        <h4 id="num" style="color: #fff;"> [ ] Simple Things can make big diffrent </h4>

    </div>

    <div class="side">
        
        <div class="intro"  >
        <p style="color: rgba(255, 248, 248, 0.637);" >Hey , there<span> &#129497;</span></p> 
        <br/>
        <h3 class="css-typing" style="color: rgba(253, 253, 253, 0.705);"><p>I'm Ali Alroainy</p></h3>
        <div>
            <p  style="color: rgba(255, 248, 248, 0.856);">
                UIUX Designer and Web Developer ,my Job is to make things to look better ,also to let the user experince be the best when they using your product ..
            </p>
        
          </div>
         <a href="/cv"><button class="bbt">my cv</button></a> 
        
    </div>
    </div>
</div>
   
</section>
<!------------------------------------------home end ------------------------------------------->
