
<!---------**************-----------services section start -------***********------------------------>

<br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <!--h1 style="display: flex; justify-content: center; font-size: 3vmax;">Our Services</h1-->
<div style="display: flex; justify-content: center; align-items: center;">
    <h1 id="services" >Services</h1>

</div>
    <section class="services">

            <!--h1 style="margin-left: 40%; margin-bottom: 20px;">Our Services</h1-->

            <div class="container">

                <div class="card">
                  <div class="box">
                    <div class="content">
                      <h2>01</h2>
                      <h3>UIUX</h3>
                      <p>esign-centric approach to user interface and user experience design, and offers practical, skill-based instruction centered around a visual</p>
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="box">
                    <div class="content">
                      <h2>02</h2>
                      <h3>web development</h3>
                      <p>web graphic design user interface design UI design authoring, including standardised code and proprietary software user experience design UX design</p>
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="box">
                    <div class="content">
                      <h2>03</h2>
                      <h3>Prototyping</h3>
                      <p>apply acquired knowledge, from organizing and structuring screen-based content, defining goals and strategy</p>
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>
              </div>

          
           
        
          <br/>
    <br/>
    <br/>
    <br/>

        
    <!------------------------------------------services end ------------------------------------------->



   
