<div style="display: flex; justify-content: center; align-items: center; padding: 5px;">
    <h1 id="work1" > Pre-works</h1>
</div>
<br/>
<br/>
    
    <div>
       

        <div id="ln" style="display: flex; justify-content: center ; flex-wrap: wrap;" >
    
      <a onmouseover="dmmMk()" onmouseleave="dmk()" href="https://www.behance.net/gallery/129937041/welcome-KSA-website/modules/736219735"> <div id="work" class="work" style="background:  linear-gradient(180deg, rgba(0, 0, 0, 0.178) , rgba(0, 0, 0, 0.637)) ,url('work/1.png') ;" >
            family host 
            <div class="dtl" id="dtll"> uiux family hostiny site .. to host people from out side in family home .. <h2 style="color: white;">click for view</h2> </div>
        </div>
    </a> 

       <a onmouseover="dmmMk1()" onmouseleave="dmk1()" href="https://www.behance.net/gallery/134995813/eTrikeCo"><div class="work" style="background:  linear-gradient(180deg, rgba(0, 0, 0, 0.178) , rgba(0, 0, 0, 0.637)) ,url('work/2.png') ;">
            Etricko
            <div class="dtl" id="dtll1"> uiux bick store site .. it's redsign to the main site to get better ux .. <h2 style="color: white;">click for view</h2> </div>
        </div>
    </a> 

    <a onmouseover="dmmMk2()" onmouseleave="dmk2()" href="https://www.behance.net/gallery/129935479/space-site?tracking_source=project_owner_other_projects">
        <div class="work" style="background:  linear-gradient(180deg, rgba(0, 0, 0, 0.178) , rgba(0, 0, 0, 0.637)) ,url('work/3.png') ;">
            space Site
            <div class="dtl" id="dtll2"> uiux space  site .. to imagination projact to perveiw future .. <h2 style="color: white;">click for view</h2> </div>

        </div>
        </a>

        <a onmouseover="dmmMk3()" onmouseleave="dmk3()" href="https://www.behance.net/gallery/129933741/coffee-lovers-website-alpha">
        <div class="work" style="background:  linear-gradient(180deg, rgba(0, 0, 0, 0.178) , rgba(0, 0, 0, 0.637)) ,url('work/4.png') ;">
            coffee host
            <div class="dtl" id="dtll3"> uiux family coffee lover site .. to host people from around the world how loves coffee .. <h2 style="color: white;">click for view</h2> </div>

        </div>
    </a>

    <a onmouseover="dmmMk4()" onmouseleave="dmk4()" href="https://www.behance.net/gallery/129936365/Taiz-university-journal?tracking_source=project_owner_other_projects">
        <div class="work" style="background:  linear-gradient(180deg, rgba(0, 0, 0, 0.178) , rgba(0, 0, 0, 0.637)) ,url('work/5.png') ;">
            Taiz Jurnal
            <div class="dtl" id="dtll4"> taiz journal site .. prototype from ofor the research site to taiz university .. <h2 style="color: white;">click for view</h2> </div>

        </div>
        </a>

    </div>

    </div>

</section>