

                      <div class="row gutters-sm" id="ex">
                        <div class="col-md-12 mb-3">
                          <div class="card h-100">
                            <div class="card-body">
                              <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Experience</i></h6>
                                <!--ssss-->
                                <div id="ittem" style="background-color: #eeeded; padding: 6px; margin: 3px;">  
                                  <strong >UX Designer</strong>
                                  <hr/>
                                  <div class=" mb-5" style="height: 55px ; padding: 3px;">
                                    <div><i class="bi bi-building"></i><small>Apple</small></div> 
                                    <div><i class="bi bi-geo-alt"></i><small>New Yourk</small></div> 
                                   <div><i class="bi bi-calendar-week"></i><small>2018-2020</small></div> 
                                 <div class="d-flex flex-row mt-2 w-25" style="border-top: solid 1px rgba(141, 140, 140, 0.609);">
                                    <div id="dlt"   style="width: 20px; height: 20px; cursor: pointer;"> <i class="bi bi-trash"></i> </div>
                                    <div id="#"   style="width: 20px; height: 20px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal">  <i class="bi bi-pencil-square"></i> </div>
                                  </div> 
                                  </div>
                                </div>
                               <!--eee-->

                               <br/>
                             

                             <!--ssss-->
                              <div id="ittem" style="background-color: #eeeded; padding: 6px; margin: 3px;">  
                              <strong >Web Designer</strong>
                              <hr/>
                              <div class=" mb-5" style="height: 55px ; padding: 3px;">
                                <div><i class="bi bi-building"></i><small>Google</small></div> 
                                <div><i class="bi bi-geo-alt"></i><small>New Yourk</small></div> 
                               <div><i class="bi bi-calendar-week"></i><small>2020-2022</small></div> 
                             <div class="d-flex flex-row mt-2 w-25" style="border-top: solid 1px rgba(141, 140, 140, 0.609);">
                                <div id="dlt"   style="width: 20px; height: 20px; cursor: pointer;"> <i class="bi bi-trash"></i> </div>
                                <div id="#"   style="width: 20px; height: 20px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal">  <i class="bi bi-pencil-square"></i> </div>
                              </div> 
                              </div>
                            </div>
                           <!--eee-->

                              <script>
                                $('#dlt').click(function(){
                                  array.forEach(element => {
                                    $('.ittem').hide();
                                  });
                                 
                                })
                              </script>
                             
    
                              <div class="row">
                                <div class="col-sm-12">
                                  <!-- Button trigger modal -->
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
  <i class="bi bi-plus-circle"></i>
  add
 </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="row gutters-sm" id="cur">
                        <div class="col-md-12 mb-3">
                          <div class="card h-100">
                            <div class="card-body">
                              <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">courses</i></h6>
                              <ul class="ul">
                                <li class="li w-75 mb-3" style="border-bottom: solid 1px rgba(201, 197, 197, 0.301);">PHP - <small>w3school</small> |<small>2018</small>
                                  <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#exampleModal"></i> <i class="bi bi-trash"></i>
                                </li>
                                <li class="li w-75 mb-3" style="border-bottom: solid 1px rgba(201, 197, 197, 0.301);">Sass - <small>udemy</small> |<small>2019</small>
                                  <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#exampleModal"></i> <i class="bi bi-trash"></i>
                                </li>
                                <li class="li w-75 mb-3" style="border-bottom: solid 1px rgba(201, 197, 197, 0.301);">ReactJS - <small>Freecodcamp</small> |<small>2020</small>
                                  <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#exampleModal"></i> <i class="bi bi-trash"></i>
                                </li>
                                <li class="li w-75 mb-3" style="border-bottom: solid 1px rgba(201, 197, 197, 0.301);">javaScript - <small>Freecodcamp</small> |<small>2020</small>
                                  <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#exampleModal"></i> <i class="bi bi-trash"></i>
                                </li>
                                <li class="li w-75 mb-3" style="border-bottom: solid 1px rgba(201, 197, 197, 0.301);" >TnserflowJS - <small>Freecodcamp</small> |<small>2021</small> <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#exampleModal"></i> <i class="bi bi-trash"></i>
                                 
                                </li>




                              </ul>
                             
                              <div class="row">
                                <div class="col-sm-12">
                 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
  <i class="bi bi-plus-circle"></i>
  add
 </button>
                   </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>





               
  
  
  
              </div>
            </div>
  
          </div>
      </div>
  

      <!--end page-->