
              <div class="col-md-8" >
                <div class="card mb-3">
                  <div class="card-body" id="pers">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0"> Name</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        Ali Alroainy
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">sentence</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        simple things
                      </div>
                    </div>
                    <hr>
                
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">img</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                       img
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">description</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        Bay Area, San Francisco, CA
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-12">
                        <a class="btn btn-info " data-bs-toggle="modal" data-bs-target="#personalModal"   href=""> <i class="bi bi-pencil-square"></i> Edit</a>
                      </div>
                    </div>
                  </div>
                </div>


           
              <div class="col-md-8" >
          





