
      
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="../../../public/ali.jpg" alt="Admin" class="rounded-circle" width="150">
                    
                        <div class="mt-3">
                          <h4>Ali Alroainy</h4>
                          <p class="text-secondary mb-1">UIUX Designer</p>
                          <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                          <button class="btn btn-primary"> CV</button>
                          <button class="btn btn-outline-primary">Message</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap gap-2" id="personal" style="cursor: pointer;">
                        <i class="bi bi-person-fill"></i>
                        <h6 class="mb-0" >porsonal</h6>
                      </li>
                      <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap gap-2" id="skills" style="cursor: pointer;">
                        <i class="bi bi-trophy-fill"></i>
                        <h6 class="mb-0">skills</h6>
                      </li>
                      <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap gap-2" id="experience" style="cursor: pointer;">
                        <i class="bi bi-award"></i>
                        <h6 class="mb-0">experience</h6>
                      </li>
                      <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap gap-2" id="study" style="cursor: pointer;">
                        <i class="bi bi-mortarboard-fill"></i>
                        <h6 class="mb-0">study</h6>
                      </li>
                      <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap gap-2 " id="courses" style="cursor: pointer;">
                        <i class="bi bi-book-half"></i>
                        <h6 class="mb-0 ">  courses</h6>
                      </li>
                     
                    </ul>
                  </div>
                </div>