
    
                        <div class="row gutters-sm" id="std">
                          <div class="col-md-12 mb-3">
                            <div class="card h-100">
                              <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Projects</i></h6>
                           
                                 <!--eee-->
    
                                    <!--ssss-->
                             
                                    <div class="row row-cols-1 row-cols-md-2 g-4">
                                


                                    <div class="col m-3">
                                      <div class="card h-100 ">
                                        <img src="/public/work/1.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">family host</h5>
                                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional </p>
                                        </div>
                                        <div class="card-footer">
                                          <i class="bi bi-check-circle"></i>
                                          <i class="bi bi-trash"></i>
                                          <i class="bi bi-pencil-square"></i>
                                          <br/>
                                          <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  
                           

                                   <!--eee-->


                                   
                                <div class="row">
                                  <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#worksModal" >
                                      <i class="bi bi-plus-circle"></i>
                                      add
                                     </button>
    
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>